.product-components-container {
  width: 100%;
  height: 100%;
  /* background: var(--offwhite); */
  display: flex;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  
}
.product-name span {
  font-size: 30px;
  font-weight: 600;
  color: var(--orange);
}
.product-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top:10px ;
}
.pagination-btn{
    display: flex;
    gap: 10px;
    align-items: center;

}
.pagination-btn button{
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
    cursor: pointer;
    border: none;
    color: var(--white);
    border-radius: 20px;
}
.pagination button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}
.add-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
}