.DealsContainer{
    background-color: var(--peach);
    background-image: url(../../../images/dealsBgImg.png);
    background-size:contain;
}
.DealsImg{
    display: flex;
    align-items: center;
}
.DealsImg div img{
    width: 100%;
    height: 100%;
}
.DealsDescription p:nth-child(1){
font-size: 40px;
font-weight: 500;
}
.DealsDescription p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
}
.DealsDescription p:nth-child(3){
    font-size: 45px;
    font-weight: bold;
}
.order-now-btn{
    text-decoration: none;
    color: var(--purewhite);
}
@media screen and (max-width:480px) {
    .DealsDescription p:nth-child(1){
        font-size: 35px;
        font-weight: 500;
        }
        .DealsDescription p:nth-child(2){
            font-size: 20px;
            font-weight: bold;
        }
        .DealsDescription p:nth-child(3){
            font-size: 40px;
            font-weight: bold;
        }
}
