.product-card-box{
    width: 90%;
    height: 80px;
    border: 2px solid var(--blackwhite);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    background: var(--white);
}
.product-card-logo{
    width: 200px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}
.product-card-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.product-card-titel,.product-card-price span{
  font-size: 18px;
  font-weight: 500;
  color: var(--orange);
}
.product-card-btn{
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Edit Modal */
.edit-modal{
    width: 100% !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(86, 86, 86,0.5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-model-box{
    width: 400px;
    height: fit-content;
    background: var(--white) !important;
    border-radius: 20px;
   padding: 20px;
   position: relative;
   
  }
  .model-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .model-inputs input:nth-child(1){
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--blackwhite);
    outline: none;
    padding: 10px;
  }
  .model-inputs input:nth-child(2){
    width: 90%;
    height:40px;
    border-radius: 10px;
    border: 2px solid var(--blackwhite);
    outline: none;
    padding: 10px;
  }
  .model-inputs textarea{
    width: 90%;
    height:150px;
    border-radius: 10px;
    border: 2px solid var(--blackwhite);
    outline: none;
    padding: 10px;
  }
  .hide{
    display: none;
  }
  .close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--orange);
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }
  .save-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .save-btn button{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background: var(--orange);
    color: white;
  }