.headre-container{
    width: 100%;
    height: 80px;
    background: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header-logo{
    width: 120px;
    height: 50px;
    overflow: hidden;
}
.header-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.header-btn button{
width: 120px;
height: 40px;
border: none;
border-radius: 20px;
background: var(--orange);
color: white;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
font-size: 16px;

}