.BlogHeading{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}
.BlogPageContainer{
    background-color: #F8F6F5;
margin: 0px;
padding: 0px;
width: 100%;
height: fit-content;
border-radius: 30px;

}
.BlogPageContainer::-webkit-scrollbar{
display: none;
}
.blogs-container{
    gap: 50px;
}
.blog-titel{
    padding-left: 30px;
    padding-top: 20px;
}
.blog-titel span{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: var(--orange);
}
.BlogPageContainer img{
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
}
.BlogPageContainer p{
    margin: 0px;
    padding: 30px;
}
@media screen and (max-width:620px){
    .BlogPageContainer{
     width: 90%;
    }
}
@media screen and (max-width:480px) {
    .blog-line{
        width: 120px;
    }
    .blog-titel span{
        font-size: 20px;
    }
    .BlogPageContainer img{
        object-fit: fill;
    }
}