.CartHeadingText {
  font-size: 45px;
  font-weight: 700;
  color: var(--orange);
}
.CartHeadinItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-card-name {
  font-size: 30px;
  color: var(--orange);
}
.CartHeadinItems p:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
  color: #08080873;
}
.CartHeadinItems p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}
.cart-footer-container {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.cartFooter {
  display: flex;
  margin-top: 10px;
}

.cartFooter p {
  font-size: 20px;
  color: var(--orange);
  font-weight: 700;
}

.CartCardRow {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  height: 120px;
}
.CartCardSection1 {
  width: 30%;
  padding: 0px;
  height: 100%;
}
.CartCardSection2 {
  width: 65%;
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: white;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.cartDescription p:nth-child(1) {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.cartDescription p:nth-child(2) {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.CounterImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.CounterImgs img {
  width: 15%;
  height: 15%;
  margin: 0px;
  padding: 0px;
}

.CartCardSection3 {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartCardSection3 img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.CartCartImg {
  width: 100%;
  height: 100%;
}
.CartCartImg img {
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  object-fit: cover;
  margin: 0px;
}
.cart-card-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange);
  border-radius: 10px;
  cursor: pointer;
}
.prefrence-text {
  display: flex;
  gap: 10px;
  align-items: center;
}
.prefrence-text span {
  font-size: 12px;
  font-weight: 600;
}
.prefrence-text p {
  font-size: 12px;
  color: #08080873;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .CartCardSection2 {
    width: 60%;
  }
  .CartCardSection3 {
    width: 10%;
  }
  .cartDescription p {
    font-size: 17px;
  }
  .cart-card-name {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .cart-card-btn {
    width: 22px;
    height: 22px;
    border-radius: 5px;
  }

  .CartHeadingText {
    font-size: 33px;
  }
  .CartHeadinItems p:nth-child(1) {
    font-size: 16px;
  }
  .CartHeadinItems p:nth-child(2) {
    font-size: 16px;
  }
  .cartDescription p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
  }
  .cartFooter p {
    font-size: 16px;
  }
  .cart-card-name {
    font-size: 13px !important;
  }
}
