.carousel-caption p:nth-child(1){
    color: var(--orange);
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    margin: 0px;
    
    font-weight: bold;
}
.carousel-container {
    display: block;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
  }
.carousel-caption p:nth-child(2){
    font-family: "Poppins", sans-serif;
    font-size:25px;
}

.carouselImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.CarouselArrow{
    background-color: var(--orange);
    border-radius: 50%;
}
.CarouselArrow img{
    width: 40px;
    height: 40px;
}
.CarouselImgDiv{
    height: 600px;
}
.carousel-caption{
    text-align: start;
    height: 100%;
    display: flex;
    width: 60%;
padding-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


@media only screen and (max-width: 1000px) {
    
    .CarouselImgDiv{
        height: 350px;
    }
    .carousel-caption p:nth-child(1){
      
        font-size: 50px;
        
    }
    
    .carousel-caption p:nth-child(2){
        font-size: 12px;
    }
    
    
  }

@media only screen and (max-width: 650px) {
    
    .CarouselImgDiv{
        height: 250px;
    }
    
    .carousel-caption p:nth-child(1){
      
        font-size: 27px;
        
    }
    .carousel-caption p:nth-child(2){
        font-size: 9px;
    }
    .CarouselArrow img{
        width: 30px;
        height: 30px;
    }
    
  }
 