:root{
  --black:black;
  --white:white;
  --orange:#e47719;
  --offwhite: #F8F6F5;
  --blackwhite:rgb(229, 224, 224);


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* background-color: rgb(236, 229, 229); */
}
.text-smaller-device{
  display: none;
}
@media screen and (max-width:1100px) {
  .App{
    display: none;
  }
  .text-smaller-device{
    display: block;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blackwhite);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .text-smaller-device h1{
    font-size: 25px;
    font-weight: 600;
    color: var(--orange);
    margin-top: 20px;

  }
}
@media screen and (max-width:800px){
.smaller-device-logo{
  width: 200px;
  overflow: hidden;
}
.smaller-device-logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.text-smaller-device h1{
  font-size: 20px;
  text-align: center;
}
}