.MenuHeading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.MenuMainComponent{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.MenuMainComponent::-webkit-scrollbar{
    display: none;
}
.MenuHeading p:nth-child(1){
    font-size: 18px;
    color: var(--black);
    font-weight: bold;
}
.MenuHeading p:nth-child(2){
    font-size: 35px;
    color: var(--black);
    font-weight: bold;
}
.Menuline{
    width: 110px;
}
.SliderBtn{
    background: black;
}
.loader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-btn{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:768px){
    .MenuHeading p:nth-child(1){
        font-size: 20px;
       
    }
    .MenuHeading p:nth-child(2){
        font-size: 30px;
    }
    .Menuline{
        width: 30px;
    }
    
}
@media only screen and (max-width:480px){
    .MenuHeading p:nth-child(2){
        font-size: 25px;
    }
    .MenuHeading span{
        font-size: 25px;
    }
}