.home-slider-container{
    width: 80%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-slider-box{
    width: 97%;
    height: 97%;
    background: var(--white);
    border: 1px solid rgb(116, 114, 114);
    border-radius: 20px;
    background: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}