.AboutUsContainer {
  background-image: url(../../../images/aboutUsBackground.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AboutUsDescription {
  height: 100%;
  display: flex;
  align-items: center;
}
.AboutUsDescription div p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}
.AboutUsDescription div p:nth-child(2) {
  font-size: 35px;
  font-weight: bold;
  color: var(--black);
}
.culinaryText {
  color: var(--orange);
}
.AboutUsDescription div p:nth-child(3) {
  font-size: 16px;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}
.AboutImg{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.AboutImg div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .AboutImg {
  padding-right: 250px;
  display: flex;
  align-items: center;
} */
/* .AboutImg div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
} */
@media only screen and (max-width: 1200px) {
  .line img {
    width: 30%;
  }

  .AboutUsDescription {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .AboutUsDescription div p:nth-child(2) {
    font-size: 40px;
  }

  .AboutUsDescription div p:nth-child(3) {
    font-size: 16px;
  }
}@media only screen and (max-width: 990px){
  .AboutUsContainer{
   height: fit-content;
  }
  .container{
    max-width: 95%;
  }
 }

@media only screen and (max-width: 767px) {
  .about-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .AboutUsDescription div p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
  }
  .AboutUsDescription div p:nth-child(2) {
    font-size: 30px;
  }
  .culinaryText {
    color: var(--orange);
  }
  .AboutUsDescription div p:nth-child(3) {
    font-size: 16px;
  }
  .AboutImg{
    width: 250px;
    height: 250px;
  }
}
