.footer-container{
    width: 80%;
    height: calc(100vh , 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-box{
    width: 97%;
    height: 97%;
    border: 2px solid var(--blackwhite);
    border-radius: 20px;
    background: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.footer-titel,.footer-text,.footer-image{
    display: flex;
    flex-direction: column;
}
.footer-image{
    margin-right: 110px
}
.footer-titel,.footer-text,.footer-image span{
    font-size: 22px;
    color: var(--orange);
    font-weight: 600;
}
.footer-titel input{
    width: 400px;
    height:45px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid var(--blackwhite);
    padding: 10px;
    outline: none;
    background: var(--white); 
}
.footer-text textarea{
    width: 400px;
    height:170px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid var(--blackwhite);
    padding: 10px;
    outline: none;
    background: var(--white);
}
.footer-btn{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 40px;
}
.footer-btn button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: var(--orange);
    color: var(--white);
    cursor: pointer;
}