.FeaturedContainer{
    background-image: url(../../../images/feturedBgImg2.png), url(../../../images/featuredBgImg1.png);
    background-repeat: no-repeat ,no-repeat ;
    background-position:bottom right , bottom left;
    background-size: 300px, 150px;
    }
    

.PizzaContainer{
    background-color: var(--light-gray);
    background-image: url(../../../images/popularPizzaImg.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: bottom left;
}

.sandwichContainer{
    background-image: url(../../../images/peporoni.png),url(../../../images/popularSandwich.png);
background-repeat: no-repeat, no-repeat;
background-position: bottom left , bottom right;
background-size: 200px, 250px;
}

.Add-Ons-Container{
    background-color: var(--light-gray);
    background-image: url(../../../images/AddOnsImg1.png),url(../../../images//AddOnsImg2.png);
    background-position: bottom left, bottom right;
    background-size: 250px,400px;
    background-repeat: no-repeat, no-repeat;
}

.WingsContainer{
    background-image: url(../../../images/wings.png),url(../../../images/nuggets.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left , bottom right;
    background-size: 200px, 250px;
}

.WrpasContainer{
    background-color: var(--light-gray);
    background-image: url(../../../images/peporoni.png),url(../../../images//wraps.png);
    background-position: top left, bottom right;
    background-size: 250px,200px;
    background-repeat: no-repeat, no-repeat;
}
.DrinksContainer{
    background-image: url(../../../images/beverage1.png),url(../../../images/beverage2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left , bottom right;
    background-size: 200px, 150px;
}