.cards{
    background-color:var(--pure-white);
    border-radius: 35px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5px;
    position: relative;
    height: 320px;
    
    
}
.product-image{
    width: 100%;
    height: 200px !important;
    overflow: hidden;
}
.product-image img{
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 35px 35px 0px 0px !important;
}
.cards img {
    width: 100%;
    height: 35% ;
    object-fit:cover;
    border-radius:40px 40px 0px 0px ;
    
}
.like-btn{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
   
}
.name{
    font-size: 18px;
    font-weight: 700;
    margin: 0px; 
    margin-left: 20px;
    margin-right: 20px;
    color: var(--orange);
    margin-top: 10px;
}
.price{
    font-size: 23px;
    font-weight: bolder;
    margin: 0px;
    margin-left: 20px;
    position: absolute;
    top: 270px;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.cardFooter img{
    width: 20px;
    height: 20px;
}

.CardFooteBtn{
    background-color: var(--orange);
    border: none;
    width: 35px !important;
    height: 35px !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header h4{
 font-size: 18px;
}
#exampleModal{
    background: rgb(9, 9, 9,0.3);
}

.info-btn{
    width: 30px;
    height: 30px;
    background: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 270px;
    right: 20px;
}

@media only screen and (max-width:1200){
    .cards{
       height: 350px;
    }
}
@media only screen and (max-width:992px){
    .cards{
       height: 350px;
    }
    .price{
        top: 310px;
        font-size: 18px;
    }
    .info-btn {
        top: 310px;
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width:767px){
    .cards{
       height: 320px;
        margin-bottom: 20px;
    }
    .price{
        top: 270px;
        font-size: 23px;
    }
    .info-btn{
        top: 270px !important;
        width: 30px;
        height: 30px;
    }
}
