.FooterContainer{
    background-color: var(--light-gray);
    padding-top: 20px;
}
.FooterDescription p{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    width: 270px;
}
.FooterDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.FooterLogo{
    width: 200px;
    height: 100px;
}
.FooterLogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Navigation p{
    color: var(--orange);
    font-size: 20px;
    font-weight: bolder;
}
.Navigation ul li{
    list-style-type: none;
   color: var(--orange);
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   transition: all 1s;

}
.Navigation ul li a{
    text-decoration: none;
    color: var(--orange);
}
.Navigation ul li:hover{
    transform: translateX(3px);
}
.Dishes p{
    color: var(--orange);
    font-size: 20px;
    font-weight: bolder;
}
.Dishes ul li{
    list-style-type: none;
   color: var(--orange);
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   transition: all 1s;

}
.Dishes ul li a{
    text-decoration: none;
    color: var(--orange);
}
.Dishes ul li:hover{
    transform: translateX(3px);
}
.followUsText{
    color: var(--orange);
    font-size: 20px;
    font-weight: bolder;
}
.socials {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.socials div{
    background-color: var(--orange);
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.copyrightText{
text-align: center;
font-size: 15px;
font-family: "Poppins", sans-serif;
font-weight: 500;
color: #0000007a ;

}
@media only screen and (max-width: 767px) {
    .socials {
       margin-bottom: 20px;
    }
    .Dishes{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 480px) {
    
}