.menuContainer{
    background-color: var(--light-gray);
    background-image: url(../../images/wellcomebg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.wellcome-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.MenuDescription{
    display: flex;
   align-items: center;
}
.MenuDescription span{
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
}
.MenuDescription div p:nth-child(1){
    font-size: 35px;
    font-weight: bold;
    margin: 0px;

}
/* .MenuDescription div p:nth-child(2){
    font-size: 35px;
    font-weight: bold;
    color: var(--orange);

} */
.MenuDescription div p:nth-child(2){
    font-size: 16px;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  

}
.MenuImg{
  width: 300px;
  height: 300px;
}
.MenuImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.MenuImg div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .MenuDescription div p:nth-child(1){
        font-size: 40px;
        font-weight: bold;
        margin: 0px;
    
    }
    /* .MenuDescription div p:nth-child(2){
        font-size: 40px;
        font-weight: bold;
        color: var(--orange);
    
    } */
    .MenuDescription div p:nth-child(2){
        font-size: 24px;
        margin: 0px;
        color: var(--black);
        font-family: "Poppins", sans-serif; 
    
    }
    
  }
  @media only screen and (max-width: 990px){
   .menuContainer{
    height: fit-content;
   }
  }
  @media only screen and (max-width: 576px) {
    .wellcome-container{
      display: flex;
      flex-direction: column !important;
      gap: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .wellcome-container{
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    .MenuDescription div p:nth-child(1){
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
    }
    /* .MenuDescription div p:nth-child(2){
        font-size: 30px;
        font-weight: bold;
        color: var(--orange);
    
    } */
    .MenuDescription div p:nth-child(2){
        font-size: 12px;
      color: var(--black);
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    
    }
    .wellcome-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .MenuImg{
      width: 250px;
      height: 250px;
    }
  }